---
// SPDX-FileCopyrightText: © 2025 StreamKit Contributors
// SPDX-License-Identifier: MPL-2.0

export interface Props {
	code: string;
}

const { code } = Astro.props;
---

<figure class="sk-mermaid">
	<pre class="sk-mermaid-source">{code}</pre>
	<div class="sk-mermaid-target" role="img" aria-label="Diagram"></div>
</figure>
